* {
    margin: 0px;
    padding: 0px;
}

#heading {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: 2em;
    border-bottom: 5px solid black;
}

#background {
    padding: 20% 50% 20% 45%;
}

#btn {
    border-radius: 5%;
    border: none;
    font-size: 2.5em;
    color: rgb(55, 0, 255);
    height: 100px;
    width: 500px;
}