* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; */
    margin: 20% 20% 10% 20%;
}

h1 {
    font-size: 7em;
    color: rgb(47, 0, 255);
}
    
#time {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 50px solid rgb(0, 0, 0);
        margin-top: 40px;
        padding: 50px;
        width: 800px;
        font-size: 10em;
        color: rgb(255, 0, 0);
}

#start-btn, #stop-btn, #reset-btn {
    margin: 100px 50px;
    height: 100px;
    width: 300px;
    color: rgb(251, 255, 0);
    font-size: 3em;
    border: none;
    background-color: blueviolet;
}

